SikuliX/Java/GettingToKnowSikuliX/.idea/
SikuliX/Java/GettingToKnowSikuliX/out/
SikuliX/Java/GettingToKnowSikuliX/GettingToKnowSikuliX.iml
SikuliX/Java/Testing/.idea/
SikuliX/Java/Testing/out/
Sikulix/Java/Testing/Testing.iml
Prevodnik/.idea/
Prevodnik/out/
Prevodnik/Prevodnik.iml
Tex/Backup/
*.aux
*.dvi
*.bbl
*.blg
*.out
*.synctex.gz
*.toc
*.log
